button {
    padding: 12px;
    border: 0;
    border-radius:6px;
    font-weight: bold;
    cursor:pointer;
    transition: 200ms;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom:21px;
}

.add-button {
    background-color: #805AD5;
    color: #fff;
}

.add-button:hover {
    background-color: #6B46C1;
}

.remove-button {
    background-color: #F56565;
    color: #fff;
}