button {
    padding: 10px;
    border: 0;
    border-radius:4px;
    font-weight: bold;
    cursor:pointer;
}

.add-button {
    background-color: #7159c1;
    color: #fff;
  
}

.remove-button {
    background-color: #F56565;
    color: #fff;
}